<?xml version="1.0"?>
<!--
/**
 * Copyright © Alexandru-Manuel Carabus All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Hawksama\HyvaProductRuleNotifier\Api\NotificationRepositoryInterface" type="Hawksama\HyvaProductRuleNotifier\Model\NotificationRepository" />
    <preference for="Hawksama\HyvaProductRuleNotifier\Api\Data\NotificationSearchResultsInterface"
                type="Hawksama\HyvaProductRuleNotifier\Model\NotificationSearchResults" />

    <preference for="Hawksama\HyvaProductRuleNotifier\Api\Data\NotificationInterface" type="Hawksama\HyvaProductRuleNotifier\Model\Notification"/>

    <type name="Magento\Framework\EntityManager\MetadataPool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="Hawksama\HyvaProductRuleNotifier\Api\Data\NotificationInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">hawksama_notification</item>
                    <item name="identifierField" xsi:type="string">notification_id</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\EntityManager\Operation\ExtensionPool">
        <arguments>
            <argument name="extensionActions" xsi:type="array">
                <item name="Hawksama\HyvaProductRuleNotifier\Api\Data\NotificationInterface" xsi:type="array">
                    <item name="read" xsi:type="array">
                        <item name="storeReader" xsi:type="string">Hawksama\HyvaProductRuleNotifier\Model\ResourceModel\Notification\Relation\Store\ReadHandler</item>
                    </item>
                    <item name="create" xsi:type="array">
                        <item name="storeCreator" xsi:type="string">Hawksama\HyvaProductRuleNotifier\Model\ResourceModel\Notification\Relation\Store\SaveHandler</item>
                    </item>
                    <item name="update" xsi:type="array">
                        <item name="storeUpdater" xsi:type="string">Hawksama\HyvaProductRuleNotifier\Model\ResourceModel\Notification\Relation\Store\SaveHandler</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Model\Entity\RepositoryFactory">
        <arguments>
            <argument name="entities" xsi:type="array">
                <item name="Hawksama\HyvaProductRuleNotifier\Api\Data\NotificationInterface" xsi:type="string">Hawksama\HyvaProductRuleNotifier\Api\NotificationRepositoryInterface</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Hawksama\HyvaProductRuleNotifier\Model\Api\SearchCriteria\CollectionProcessor\NotificationFilterProcessor" type="Magento\Framework\Api\SearchCriteria\CollectionProcessor\FilterProcessor">
        <arguments>
            <argument name="customFilters" xsi:type="array">
                <item name="store_id" xsi:type="object">Hawksama\HyvaProductRuleNotifier\Model\Api\SearchCriteria\CollectionProcessor\FilterProcessor\StoreFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Hawksama\HyvaProductRuleNotifier\Model\Api\SearchCriteria\NotificationCollectionProcessor" type="Magento\Framework\Api\SearchCriteria\CollectionProcessor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="filters" xsi:type="object">Hawksama\HyvaProductRuleNotifier\Model\Api\SearchCriteria\CollectionProcessor\NotificationFilterProcessor</item>
                <item name="sorting" xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor\SortingProcessor</item>
                <item name="pagination" xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor\PaginationProcessor</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\EntityManager\HydratorPool">
        <arguments>
            <argument name="hydrators" xsi:type="array">
                <item name="Hawksama\HyvaProductRuleNotifier\Api\Data\NotificationInterface" xsi:type="string">Magento\Framework\EntityManager\AbstractModelHydrator</item>
            </argument>
        </arguments>
    </type>
    <type name="Hawksama\HyvaProductRuleNotifier\Model\NotificationRepository">
        <arguments>
            <argument name="collectionProcessor" xsi:type="object">Hawksama\HyvaProductRuleNotifier\Model\Api\SearchCriteria\NotificationCollectionProcessor</argument>
            <argument name="hydrator" xsi:type="object">Magento\Framework\EntityManager\AbstractModelHydrator</argument>
        </arguments>
    </type>
</config>
