<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Hawksama\HyvaProductRuleNotifier\Service\CartItemRetriever">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <preference for="Hawksama\HyvaProductRuleNotifier\Api\NotificationHandlerInterface" type="Hawksama\HyvaProductRuleNotifier\Model\NotificationHandler" />
</config>
