<?xml version="1.0"?>
<!--
/**
 * Copyright © Alexandru-Manuel Carabus All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <!-- Submenu item: Product Notifications -->
        <add id="Hawksama_HyvaProductRuleNotifier::product_notifications" sortOrder="100" title="Product Notifications"
             module="Hawksama_HyvaProductRuleNotifier" parent="Hawksama_AdminMenu::menu"
             resource="Hawksama_HyvaProductRuleNotifier::management" translate="title"/>

        <!-- Submenu item: Manage Rules -->
        <add id="Hawksama_HyvaProductRuleNotifier::manage_rules" sortOrder="100" title="Manage Rules"
             module="Hawksama_HyvaProductRuleNotifier" parent="Hawksama_HyvaProductRuleNotifier::product_notifications"
             resource="Hawksama_HyvaProductRuleNotifier::management" translate="title"
             action="hawksama/notification/index"/>
    </menu>
</config>
